{% extends 'baseAdmin.html.twig' %}
{% block body %}

    <div class="container-fluid pt-4 px-4">
        <div class="row">
            <div class="col">
                <div class="bg-light rounded h-100 p-4">
                    <h6 class="mb-4">update commande</h6>
                    {{ form_start(form) }}
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">state</label>
                        {{ form_widget(form.state, {'attr': {'class': 'form-control'}}) }}


                    </div>


                    <button type="submit" class="btn btn-primary" style="width: 100%">{% if element == 'ajouter' %}ajouter{% else %}modifier{% endif %}</button>
                    {{ form_end(form) }}
                </div>
            </div>

        </div>
    </div>

    <!-- Form End -->

{% endblock %}